<br>
<h1>Feed file of Successful records</h1>

<table class="table table-striped  table-bordered">

    <tr>
        <th> TransactionReference</th>
        <th> ValueDate</th>
        <th> Payer</th>
        <th> Payee</th>
        <th> Amount</th>
    </tr>


    <td>
        <tr *ngFor="let rec of right, let i=index"> {{ rec[i].TransactionReference}}</tr>
    </td>
    <td>
        <tr *ngFor="let rec of right, let i=index"> {{ rec[i].ValueDate}}</tr>
    </td>
    <td>
        <tr *ngFor="let rec of right, let i=index"> {{ rec[i].PayerName }}{{rec[i].PayerAccount}}</tr>

    </td>

    <td>
        <tr *ngFor="let rec of right, let i=index"> {{ rec[i].PayeeName}}{{rec[i].PayeeAccount}}</tr>

    </td>

    <td>
        <tr *ngFor="let rec of right, let i=index"> {{ rec[i].Amount}}</tr>
    </td>

</table>
<br><br><br>
<h3>Transactions that failed</h3>
<table class="table table-striped">
    <td>
        <tr *ngFor="let item of wrong, let i = index">{{item[0]}}</tr>
        <tr *ngFor="let item of wrong, let i = index">{{item[1]}}</tr>
        <tr *ngFor="let item of wrong, let i = index">{{item[2]}}</tr>
        <tr *ngFor="let item of wrong, let i = index">{{item[3]}}</tr>
        <tr *ngFor="let item of wrong, let i = index">{{item[4]}}</tr>
        <tr *ngFor="let item of wrong, let i = index">{{item[5]}}</tr>
    </td>

</table>
<p>Check the above transactions again!</p>