<div class="container">


    <h2 class="heading">Login</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()">

        <small class="text-danger">
            {{msg}}
        </small>
        <div class="form-group" style="margin-left: 12em;">
            <label for="email">Email:</label>
            <input type="email" style="width: 25em;" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
            <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">EmailId is required field</small> -->
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">EmailId is Required Feild</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter proper Email id</small>


            </div>
        </div>
        <div class="form-group" style="margin-left: 12em;">
            <label for="pwd">Password:</label>
            <input type="password" style="width: 25em;" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>

        </div>
        <div class="checkbox" style="margin-left: 23em;">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info" style="margin-left: 32em;">Login</button>
    </form>
    <br>
    <button style="margin-left: 28em;" class="float" (click)="gotoregistration()">New User? Register Here</button>
</div>